# Dependencies
**/node_modules/

# Include storybook configs
# TODO not linting storybook configs
!.storybook/main.js
!.storybook/preview.js

# Editor settings and misc files
.vscode/
.DS_Store

# Build directories
dist/
build/
storybook-static/
